<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
        <link type="text/css" rel="stylesheet" href="static/style/style.css">
        <link type="text/css" rel="stylesheet" media="handheld, only screen and (max-device-width: 481px)" href="static/style/phone.css">
        <title>Comments</title>
    </head>
    <body>
        <nav>
            <div id = "buttonRow" class="buttonRow">
                <div class="oldFarm sideBySide" id="oldFarm">
                    <h1 class = "title">Old Farm Property For Rent</h1>
                    <h3>Walberswick, Suffolk</h3>
                </div>
                <div class="price sideBySide" id="price">
                    <h1 class="priceh1">£850</h1>
                    <p class="pricep">For 7 Days</p>
                </div>
                <div id="buttons" class="buttons">
                    <hr>
                    <a href="home"><button class="navbutton navsize">Description</button></a>
                    <a href="attractions"><button class="navbutton navsize">Local Area</button></a>
                    <a href="displayList"><button class="navbutton navsize">Comments</button></a>
					<a href="booking"><button class="navbutton navsize">Booking</button></a>
                </div>
            </div>
        </nav>
        <!-- Comments section -->
        <div class="content_section comments" id="comments">
            <div id="dtext">
                <h1>Submit A Comment</h1>
                <hr>
                <form action="addEntry" method="post">
					{% if valid == False %}
						<p>Test</p>
					{% endif %}
					
                    <label>Enter your name:</label><br />
                    <input name="name" type="text" maxlength="32" size="20" placeholder="Name"/><br />
					<label></label>
                    <label>Enter your Comment:</label><br />
                    <textarea name="comment" class="txt1" rows="10" cols="70" placeholder="Enter comment"></textarea>
                    <input class="navbutton navsize" type="submit" value="Submit Comment">
                    <form action="clearCsv">
                        <input class="navbutton navsize" type="button" onclick="clearComment()" value="Clear Comment">
                    </form>
                </form>
            </div>
            <h1 class = "title">Comments</h1>
            <hr>
            <div id="cmtlist" class="cmtlist">
				{% for line in commentsList %}
					<h4>{{ line[0] }} - {{ line[1] }}</h4>
					<p>{{ line[2] }}</p>
				{% endfor %}
            </div>
        </div>
        <!--Contact section	-->
        <div id="contact" class="contact">
            <h1>Contact Details</h1>
            <hr>
            <p>If interested in the property, please contact:</p>
            <h3>Dianna Vu</h3>
            <p>Mobile: 07909052006</p>
            <p>Email: Dianna.Vu@uea.ac.uk</p>
            <h3>Daniel Banks</h3>
            <p>Email: Daniel.Banks@uea.ac.uk</p>
        </div>
        <!--Footer section	-->
        <footer>
            <p>Site By - Daniel Banks</p>
        </footer>
        <!--Scripts	-->
        <script src="https://maps.googleapis.com/maps/api/js" type="text/javascript"></script>
        <script src="static/js/jquery-2.1.1.min.js" type="text/javascript"></script>
        <script src="static/js/javascript.js" type="text/javascript"></script>
        <script src="static/js/map.js" type="text/javascript"></script>
    </body>
</html>